<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="./assets/favicon.ico" />
  <title>Product</title>

</head>
<body>
  <header>
    <div class="container position-relative">
      <a class="btn position-absolute" href="/product" class="link"><i class="fa-solid fa-arrow-left"></i> Back</a>
      <h1 class="text-center h2 mb-3">Product Item</h1>
    </div>
  </header>
  <main>
    <div class="container">

      <form class="product-form">
        <div class="d-flex gap-2 mb-2 align-items-center">
          <select class="form-select category" aria-label="Default select example" required>
            <option selected>Category*</option>
          </select>

          <select class="form-select sub-category" name="subCategory" aria-label="Default select example" required>
            <option selected>Sub Category*</option>
          </select>
          
        </div>
        <div class="d-flex gap-2 mb-2">
          <input type="text" class="form-control name-input" name="title" placeholder="Enter product name*" required>
          <input class="form-control image-input" name="image" type="file" id="formFile" required>
        </div>
        <div class="d-flex gap-2 mb-2">
          <input type="text" class="form-control old-price-input" name="oldPrice" placeholder="Old Price">
          <input type="text" class="form-control price-input" name="price" placeholder="Price">
        </div>
        <textarea name="desc" id="desc" cols="30" rows="10"></textarea>

        <button class="btn btn-info btn-save my-3 px-5" type="submit">Save</button>
      </form>


    </div>
  </main>




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <script src="https://cdn.tiny.cloud/1/u4l8mcuk2j12ldmg3ags60ndu96nglyfyzl2bfe7gtq4oc8j/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

  <script>
    tinymce.init({
      selector: "textarea",
      toolbar_mode: 'sliding',
      plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
      toolbar: 'undo redo | blocks fontfamily fontsize forecolor backcolor | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
    })


    let btnSave = document.querySelector('.btn-save')
    let productForm = document.querySelector('.product-form');
    let categorySelect = document.querySelector('.category');
    let subCategorySelect = document.querySelector('.sub-category');
    let nameInput = document.querySelector('.name-input');
    let imageInput = document.querySelector('.image-input');
    let oldPriceInput = document.querySelector('.old-price-input');
    let priceInput = document.querySelector('.price-input');

    let categories = []

    let getCategories = async()=> {
      try {
        let res = await fetch(`/category/api`, {method: 'GET', headers: {'Content-Type': 'application/json' // 'Content-Type': 'application/x-www-form-urlencoded',
        }} )
        
        categories = await res.json()  
        
        categories.forEach(category => {
          let option = document.createElement('option')
          option.setAttribute('value', category.title)
          option.textContent = category.title
          categorySelect.appendChild(option)
        })
      } catch (error) {
        console.log(error.message);        
      }
    }

    getCategories()

    categorySelect.addEventListener('change', (e)=> {
      let subCategories = categories.find(category => category.title === e.target.value).subCategories

      subCategorySelect.innerHTML = '<option selected>Sub Category</option>';
      subCategories.forEach(category => {
        let option = document.createElement('option')
        option.setAttribute('value', category._id)
        option.textContent = category.title
        subCategorySelect.appendChild(option)
      })
    })

    
    let addProduct = async (e) => {
      e.preventDefault();
      if(nameInput.value == "" || imageInput.value == '' || subCategorySelect.value == 'Sub Category*') {
        alert("Zarur qatorlarni to'ldiring!")
        return
      }
      
      console.log(subCategorySelect.value);
      btnSave.textContent = "Loading..."
      
      let data = new FormData(productForm)

      let desc = tinymce.get("desc").getContent({ format: "html" })

      data.append('desc', desc)
      
      try {
        let res = await fetch(`/product/add`, {method: 'POST', body: data} )
        
        let json = await res.json()  
        
        alert(json.message);
        btnSave.textContent = "Save"
        return window.location.replace("/product")
      } catch (error) {
        console.log(error.message);        
      }
    }
  
    productForm.addEventListener('submit', addProduct)

  </script>
</body>
</html>