<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="./assets/favicon.ico" />
  <title>Videos</title>

  <link rel="stylesheet" href="./styles.css">
  
</head>

<body style="padding-top: 0; position:relative;">
  <header>
    <div class="container pt-0">
      <div class="row">
        <div class="col-12 pt-0 d-flex align-items-start align-items-md-center">
          <div class="left-top d-flex align-items-center gap-3">
            <img class="mt-2" width="35" src="./assets/logo.svg" alt="logo">
          </div>
          <nav class="navbar navbar-expand-md navbar-light bg-transparent ms-auto ms-md-0 text-center me-md-auto w-100">
            <div class="container-fluid pe-0">
              <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 align-items-center ms-auto gap-3">
                  <li class="nav-item">
                    <a class="nav-link title-comp fw-bold" aria-current="page" href="/"><i class="fa-solid fa-house"></i> Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link title-comp fw-bold" aria-current="page" href="/category"><i class="fa-solid fa-folder-open"></i> Category</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link title-comp fw-bold" aria-current="page" href="/product"><i class="fa-sharp fa-solid fa-cart-arrow-down"></i> Product</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link title-comp fw-bold" aria-current="page" href="/videos"><i class="fa-brands fa-youtube"></i> Video</a>
                  </li>
                  <li class="nav-item active-item">
                    <a class="nav-link title-comp fw-bold" aria-current="page" href="/brand"><i class="fa-brands fa-vimeo"></i> Brand</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link title-comp fw-bold" aria-current="page" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Exit</a>
                  </li>                                                  
                </ul>
              </div>
            </div>
          </nav>  
        </div>        
      </div>
    </div>
  </header>

  <main>
    <div class="container">
      <div class="rounded-3 bg-info d-flex gap-3 py-1 px-3 justify-content-between gap-2 gap-md-3 align-items-center">
        <h6 class="text-white text-center count-brand">Все: ...</h6> 
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">+Add</button>
      </div>

      <h2 class="text-center my-3">Наши бренды</h2>
      <div class="brand-list d-flex flex-wrap gap-3 justify-content-center pt-3">
        <img class="d-block mx-auto" src="./assets/Loading.gif" alt="loader">               
                   
      </div>
      <hr class="my-4">
      <h2 class="text-center my-3">Партнёры</h2>
      <div class="partner-list d-flex flex-wrap gap-3 justify-content-center pt-3 pb-5">
        <img class="d-block mx-auto" src="./assets/Loading.gif" alt="loader">   

      </div>
    </div>
  </main>
    

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Brand</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="form-control" method="post" id="brand-form">
            <div class="d-flex justify-content-around mb-3 mt-1">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="type" value="brand" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  бренд
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="type" value="partner" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  Партнёр
                </label>
              </div>
            </div>
            <input type="file" class="form-control" name="image" required placeholder="Select Image">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" form="brand-form">Save </button>
        </div>
      </div>
    </div>
  </div>
    
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <script>
    let brandList = document.querySelector('.brand-list');
    let partnerList = document.querySelector('.partner-list');
    let brandForm = document.querySelector('#brand-form');
    let btnClose = document.querySelector('.btn-close');
    let countBrand = document.querySelector('.count-brand');

    let getBrands = async ()=> {
      try {
        let res = await fetch(`/brand/api`, {method: 'GET'} )
        
        let brands = await res.json()  
        console.log(brands);  
        
        countBrand.textContent = `Все: ${brands.length}`
        
        let brandContent = '';
        let partnerContent = '';
        
        brands.forEach(brand => {
          if(brand.type == "brand") {
            brandContent = brandContent + `
              <div class="brand-item">
                <img width="200" class="m-3" src="${brand.image.url}" alt="brand_image">
                <button onclick="deleteBrand('${brand._id}')" class="btn btn-outline-danger brand-del-btn"><i class="text-dark fa-solid fa-trash text-danger"></i></button>
              </div>
            `            
          } 
          if(brand.type == 'partner') {
            partnerContent = partnerContent + `
              <div class="brand-item">
                <img width="200" class="m-3" src="${brand.image.url}" alt="brand_image">
                <button onclick="deleteBrand('${brand._id}')" class="btn btn-outline-danger brand-del-btn"><i class="text-dark fa-solid fa-trash text-danger"></i></button>
              </div>
            `
          }
        });
        
        brandList.innerHTML = brandContent
        partnerList.innerHTML = partnerContent
      } catch (error) {
        console.log(error.message);        
      }
    }

    getBrands()

    let deleteBrand = async(id) => {
      let confirmDel = confirm("Deleted data cannot be recovered!")
      if(confirmDel) {
        try {
          let res = await fetch(`/brand/${id}`, {method: 'DELETE', headers: {'Content-Type': 'application/json' // 'Content-Type': 'application/x-www-form-urlencoded',
          }} )
    
          let json = await res.json()    
          getBrands()
        } catch (error) {
          console.log(error.message);        
        }
      }
    }

    let addBrand = async (e) => {
      e.preventDefault();
                      
      let data = new FormData(brandForm)
      
      try {
        let res = await fetch(`/brand`, {method: 'POST', body: data} )
        
        let json = await res.json()  
        
        alert(json.message);

        brandForm.reset()
        btnClose.click()
        getBrands()
      } catch (error) {
        console.log(error.message);        
      }
    }

    brandForm.addEventListener('submit', addBrand)

  </script>
</body>
</html>