<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="./assets/favicon.ico" />
  <title>Categories</title>

  <link rel="stylesheet" href="./styles.css">
  <style>
    
  </style>
</head>
<body>
  <div class="container pt-0">
    <div class="row">
      <div class="col-12 col-md-3 pt-0 p-2 sidebar d-flex align-items-start flex-md-column">
        <div class="left-top d-flex align-items-center gap-3">
          <img class="mt-2" width="35" src="./assets/logo.svg" alt="logo">
          <h5 class="mt-2 title-comp">SSI-PRO</h5>
        </div>
        <nav class="navbar navbar-expand-md navbar-light bg-transparent ms-auto ms-md-0 text-center me-md-auto w-100">
          <div class="container-fluid pe-0">
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mb-2 mb-lg-0 flex-column align-items-start">
                <li class="nav-item">
                  <a class="nav-link title-comp fw-bold" aria-current="page" href="/"><i class="fa-solid fa-house"></i> Home</a>
                </li>
                <li class="nav-item active-item">
                  <a class="nav-link title-comp fw-bold" aria-current="page" href="/category"><i class="fa-solid fa-folder-open"></i> Category</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link title-comp fw-bold" aria-current="page" href="/product"><i class="fa-sharp fa-solid fa-cart-arrow-down"></i> Product</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link title-comp fw-bold" aria-current="page" href="/videos"><i class="fa-brands fa-youtube"></i> Video</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link title-comp fw-bold" aria-current="page" href="/brand"><i class="fa-brands fa-vimeo"></i> Brand</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link title-comp fw-bold" aria-current="page" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Exit</a>
                </li>
                <li class="nav-item py-2">
                  <button onclick="openModal()" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-outline-info fw-bold title-comp">+ Category</button>                  
                </li>
                <li class="nav-item py-2">
                  <button onclick="openSubCatModal()" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-outline-info fw-bold title-comp">+ Subcategory</button>
                </li>
                                
              </ul>
            </div>
          </div>
        </nav>

      </div>
      <div class="col-12 col-md-9">
        <h1 class="bg-light p-2 mx-2">Dashboard SSI-Pro</h1>
        <div class="rounded-3 bg-info d-flex gap-3 p-3 justify-content-around flex-wrap">
          <h5 class="text-white text-center">Asosiy Categoriyalar: <%= categoryLength %></h5>
          <h5 class="text-white text-center">Subcategoriyalar: <%= subcategoryLength %></h5>
        </div>
        <div class="row mt-2">
          <div class="col-12 ">

            <div class="accordion" id="accordionExample">
              <% categories.forEach((category, i) => { %>
                <div class="accordion-item">
                  <h2 class="accordion-header d-flex align-items-center gap-2" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a<%= i%>" aria-expanded="false" aria-controls="a<%= i%>">
                      <h6><%= category.title%></h6>                    
                    </button>
                    <button onclick="openEditModal('<%= category.title%>', '<%= category._id%>')"  data-bs-toggle="modal" data-bs-target="#editModal" class="btn btn-info ms-auto"><i class="fa-solid fa-pen-to-square"></i></button>
                    <button onclick="deleteCategory('<%= category._id%>','')" class="btn btn-danger me-2"><i class="text-dark fa-solid fa-trash"></i></button>
                  </h2>
                  <div id="a<%= i%>" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <ul class="list-unstyled list-group py-2 border-bottom">
                      <% category.subCategories.forEach((subcategory, i) => { %>
                        <li class="bg-light w-100 py-1 px-2 d-flex align-items-center gap-2 mb-1">
                          <%= subcategory.title%>
                          <button onclick="openSubCatModal('<%= subcategory.title%>', '<%= subcategory._id%>')" data-bs-toggle="modal" data-bs-target="#editModal" class="btn btn-info ms-auto"><i class="fa-solid fa-pen-to-square"></i></button>
                          <button onclick="deleteCategory('<%= subcategory._id%>','sub')" class="btn btn-danger"><i class="text-dark fa-solid fa-trash"></i></button>
                        </li>
                      <% })%>
                    </ul>
                  </div>
                </div>
              <% })%>
                            
            </div>
            
          </div>

        </div>
      </div>
    </div>
  </div>

  
  <!-- Modals -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add new Category</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <select class="form-select category-select mb-3" aria-label="Default select example">
            <option selected>Select Category</option>
            <% categories.forEach((category, i) => { %>
              <option value="<%= category._id%>"><%= category.title%></option>
            <% })%>
          </select>

          <input type="text" name="title" class="input-group title-category-input form-control" placeholder="Enter title">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary close-modal-btn" data-bs-dismiss="modal">Close</button>
          <button onclick="addCategory()" type="button" class="btn btn-primary save-category-btn">Save Category</button>
          <button onclick="addSubCategory()" type="button" class="btn btn-primary save-sub-category-btn">Save Sub Category</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" name="title" class="input-group edit-category-input form-control" placeholder="Enter title">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary close-modal-btn" data-bs-dismiss="modal">Close</button>
          <button onclick="updateCategory()" type="button" class="btn btn-primary">Save Category</button>
        </div>
      </div>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <script>
    let titleInput = document.querySelector(".title-category-input")
    let editCategoryInput = document.querySelector(".edit-category-input")
    let closeBtn = document.querySelector(".close-modal-btn")
    let selectCategory = document.querySelector(".category-select")
    let modalTitle = document.querySelector(".modal-title")
    let SaveCatBtn = document.querySelector(".save-category-btn")
    let SaveSubCatBtn = document.querySelector(".save-sub-category-btn")

    let sub = '';
    let categoryId = ""
    selectCategory.style.display = "none";
    
    let addCategory = async() => {
      if(titleInput.value === "") {
        return alert("Please enter title")
      }
      let data = JSON.stringify({title: titleInput.value})
      try {
        let res = await fetch("/category", {method: 'POST', body: data, headers: {'Content-Type': 'application/json' // 'Content-Type': 'application/x-www-form-urlencoded',
        }} )
  
        let json = await res.json()  
        if(res.status == 201 || res.status == 401) {
          return window.location.reload()  
        }
        alert(json.message);
      } catch (error) {
        console.log(error.message);        
      }
    }

    let addSubCategory = async() => {
      if(titleInput.value === "" || selectCategory.value === "Select Category") {
        console.log(selectCategory.value);
        return alert("Please fill all fields!")
      }
      let data = JSON.stringify({title: titleInput.value, categoryId: selectCategory.value})
      try {
        let res = await fetch("/subcategory", {method: 'POST', body: data, headers: {'Content-Type': 'application/json' // 'Content-Type': 'application/x-www-form-urlencoded',
        }} )
  
        let json = await res.json()  
        if(res.status == 201 || res.status == 401) {
          return window.location.reload()  
        }
        alert(json.message);
      } catch (error) {
        console.log(error.message);        
      }
    }

    let deleteCategory = async(id, path) => {
      let confirmDel = confirm("Deleted data cannot be recovered!")
      if(confirmDel) {
        try {
          let res = await fetch(`/${path}category/${id}`, {method: 'DELETE', headers: {'Content-Type': 'application/json' // 'Content-Type': 'application/x-www-form-urlencoded',
          }} )
    
          let json = await res.json()  
          if(res.status == 200 || res.status == 401) {
            return window.location.reload()  
          }
          alert(json.message);
        } catch (error) {
          console.log(error.message);        
        }
      }
    }

    let openEditModal = (oldTitle, id) => {
      editCategoryInput.value = oldTitle
      sub = ''
      return categoryId = id
    }

    let openSubCatModal = (oldTitle, id) => {
      editCategoryInput.value = oldTitle
      categoryId = id
      sub = 'sub'
      selectCategory.style.display = "block";
      modalTitle.textContent = "Add new Sub Category";
      SaveCatBtn.style.display = "none"
      SaveSubCatBtn.style.display = "block"
    }

    let openModal = () => {
      selectCategory.style.display = "none";
      modalTitle.textContent = "Add new Category";
      SaveCatBtn.style.display = "block"
      SaveSubCatBtn.style.display = "none"
    }

    let updateCategory = async() => {
      if(editCategoryInput.value === "") {
        return alert("Please enter title")
      }
      let data = JSON.stringify({title: editCategoryInput.value})

      try {
        let res = await fetch(`/${sub}category/${categoryId}`, {method: 'PUT', body: data, headers: {'Content-Type': 'application/json' // 'Content-Type': 'application/x-www-form-urlencoded',
        }} )
  
        let json = await res.json()  
        if(res.status == 200 || res.status == 401) {
          return window.location.reload()  
        }
        alert(json.message);
      } catch (error) {
        console.log(error.message);        
      }
    }

  </script>
</body>
</html>