<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
</head>
<body>
  <h1>Login Page</h1>
  <p class="name"><%= message %></p>

  <main>
    <section class="news-section">
     <form action="" method="POST">
       <div>
         <input type="text" name="username" placeholder="Username...">
       </div>
       <div>
         <input type="password" name="password" placeholder="Password">
       </div>
       <div>
         <button type="submit">Login</button>
       </div>
     </form>
    </section>
  </main>

  
  <script>
    let alalert = () => {
      alert("log yok pas xato")
    }
  </script>
</body>
</html>