<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="./assets/favicon.ico" />
  <title>Products</title>

  <link rel="stylesheet" href="./styles.css">
  
</head>

<body style="padding-top: 0; position:relative;">

  <!-- Category -->
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Оборудование</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="list-unstyled list-group list-group-flush ps-0">
        <li class="mb-1">
          <button
            class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
            data-bs-toggle="collapse"
            data-bs-target="#category1"
            aria-expanded="false"
          >
            Тепловое оборудование
          </button>
          <div class="collapse" id="category1">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li class="border-bottom my-1">
                <a
                  href="categories/Тепловое.html#subcat0010"
                  class="link-dark d-inline-flex text-decoration-none rounded"
                  >Пароконвектоматы</a
                >
              </li>
              <li class="border-bottom my-1">
                <a
                  href="categories/Тепловое.html#subcat0008"
                  class="link-dark d-inline-flex text-decoration-none rounded"
                  >Конвекционные печи</a
                >
              </li>
              <li class="border-bottom my-1">
                <a
                  href="categories/Тепловое.html#subcat0015"
                  class="link-dark d-inline-flex text-decoration-none rounded"
                  >Расстоечные шкафы</a
                >
              </li>                  
            </ul>
          </div>
        </li>
        <li class="mb-1">
          <button
            class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
            data-bs-toggle="collapse"
            data-bs-target="#category2"
            aria-expanded="false"
          >
            Тепловое оборудование
          </button>
          <div class="collapse" id="category2">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li>
                <a
                  href="categories/Тепловое.html#subcat0010"
                  class="link-dark d-inline-flex text-decoration-none rounded"
                  >Пароконвектоматы</a
                >
              </li>
              <li class="border-top my-1"></li>
              <li>
                <a
                  href="categories/Тепловое.html#subcat0008"
                  class="link-dark d-inline-flex text-decoration-none rounded"
                  >Конвекционные печи</a
                >
              </li>
              <li class="border-top my-1"></li>
              <li>
                <a
                  href="categories/Тепловое.html#subcat0015"
                  class="link-dark d-inline-flex text-decoration-none rounded"
                  >Расстоечные шкафы</a
                >
              </li>
              <li class="border-top my-1"></li>
              
            </ul>
          </div>
        </li>       
      </ul>
    </div>
  </div>
  
  <div class="container pt-0">
    <div class="row">
      <div class="col-12 pt-0 d-flex align-items-start align-items-md-center">
        <div class="left-top d-flex align-items-center gap-3">
          <img width="35" src="./assets/logo.svg" alt="logo">
        </div>
        <nav class="navbar navbar-expand-md navbar-light bg-transparent ms-auto ms-md-0 text-center me-md-auto w-100">
          <div class="container-fluid">
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mb-2 mb-lg-0 align-items-center ms-auto gap-3">
                <li class="nav-item">
                  <a class="nav-link fw-bold title-comp" aria-current="page" href="/"><i class="fa-solid fa-house me-2"></i> Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fw-bold title-comp" aria-current="page" href="/category"><i class="fa-solid fa-folder-open me-2"></i> Categories</a>
                </li>
                <li class="nav-item active-item">
                  <a class="nav-link fw-bold title-comp" aria-current="page" href="/product"><i class="fa-sharp fa-solid fa-cart-arrow-down me-2"></i> Products</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fw-bold title-comp" aria-current="page" href="#"><i class="fa-brands fa-youtube me-2"></i> Videos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fw-bold title-comp" aria-current="page" href="/logout"><i class="fa-solid fa-right-from-bracket  me-2"></i> Log Out</a>
                </li>
                                                
              </ul>
            </div>
          </div>
        </nav>

      </div>
      <div class="col-12">
        <div class="rounded-3 bg-info d-flex gap-3 py-1 px-3 justify-content-around gap-2 gap-md-3 align-items-center">
          <button 
            class="btn btn-outline-dark canvas-btn"
            type="button"
            data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"
          >
            Kатегории
          </button>
          <h6 class="text-white text-center count-product">Все: ...</h6> 
          <input style="max-width: 200px;" class="form-control search-input" type="search" placeholder="Search...">
          <a href="/product/add/new" class="btn btn-success add-product-link">+Add</a>
        </div>
        <div class="row">
          <section class="py-5 bg-color">
            <div class="container px-4 px-lg-5">
              <div
                class="row gx-4 gx-lg-5 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 justify-content-center product-list"
              >
                <img class="d-block mx-auto" src="./assets/Loading.gif" alt="loader">

                <!-- <div class="col mb-5">
                  <div class="card h-100">
                    
                    <div
                      class="badge bg-danger text-white position-absolute"
                      style="top: 0.5rem; right: 0.5rem"
                    >
                      Акция
                    </div>

                    <img
                      class="card-img-top"
                      src="assets/main/sales/Гриль мангал Vesta ARGENTINA.jpg"
                      alt="..."
                    />
                    
                    <div class="card-body p-2">
                      <div class="text-center">
                        
                        <h5 class="fw-bolder">Гриль мангал Vesta Argentina</h5>
                        
                        <div class="form-check form-switch d-flex justify-content-around">
                          <input class="form-check-input" type="checkbox" id="price-check">
                          
                          <p>
                            <span class="text-muted text-decoration-line-through me-3">$20.00</span>
                            $18.00
                          </p>
                        </div>
                      </div>
                    </div>
                    
                    <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
                      <div class="d-flex justify-content-around align-items-center flex-wrap">
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="aksiya-check">
                          <label class="form-check-label" for="aksiya-check">aкция</label>
                        </div>
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="show-check">
                          <label class="form-check-label" for="show-check">актив</label>
                        </div>
                      </div>
                      <div class="d-flex justify-content-center mt-2 gap-3">
                        <a href="#" class="btn btn-outline-info"><i class="fa-solid fa-pen-to-square"></i></a>
                        <button class="btn btn-outline-danger"><i class="text-dark fa-solid fa-trash text-danger"></i></button>
                      </div>
                    </div>
                    
                  </div>
                </div> -->
                
  
              </div>
            </div>
          </section>
        </div>
      </div>
  </div>

  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <script>
    let productList = document.querySelector('.product-list');
    let countProduct = document.querySelector('.count-product');
    let searchInput = document.querySelector('.search-input');

    let products = []

    let display = (arr) => {      
      countProduct.textContent = `Все: ${arr.length}`
      let content = ''
        arr.reverse().forEach(product => {
          content = content + `
            <div class="col mb-5">
              <div class="card h-100">
                <!-- Sale badge-->
                ${product.isPromotion ? `<div
                  class="badge bg-danger text-white position-absolute"
                  style="top: 0.5rem; right: 0.5rem"
                >
                  Акция
                </div>` : ``}
                
                <!-- Product image-->
                <img
                  class="card-img-top"
                  src="${product.image.url}"
                  alt="${product.title}"
                />
                <!-- Product details-->
                <div class="card-body p-2">
                  <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">${product.title}</h5>
                    
                    <!-- Product price-->
                    <p>
                      <span class="text-muted text-decoration-line-through me-3">${product.oldPrice}</span>
                      ${product.price}
                    </p>
                  </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
                  <div class="d-flex justify-content-around align-items-center flex-wrap">
                    <div class="form-check form-switch">
                      <input ${product.isPromotion ? "checked" : ""} onchange="aksiyaProduct('${product._id}', '${!product.isPromotion}')" class="form-check-input" type="checkbox" id='${product._id}'>
                      <label class="form-check-label" for='${product._id}'>aкция</label>
                    </div>
                    <div class="form-check form-switch">
                      <input ${product.isPublished ? "checked" : ""} onchange="publishedProduct('${product._id}', '${!product.isPublished}')" class="form-check-input" type="checkbox" id='show${product._id}'>
                      <label class="form-check-label" for='show${product._id}'>актив</label>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center mt-2 gap-3">
                    <a href="/product/add/${product._id}" class="btn btn-outline-info"><i class="fa-solid fa-pen-to-square"></i></a>
                    <button onclick="deleteProduct('${product._id}')" class="btn btn-outline-danger"><i class="text-dark fa-solid fa-trash text-danger"></i></button>
                  </div>
                </div>
                
              </div>
            </div>
          `
        }
      )

      productList.innerHTML = content;
    }

    let getProducts = async()=> {
      try {
        let res = await fetch(`/product/api`, {method: 'GET'} )
        
        products = await res.json()         
        display(products)

      } catch (error) {
        console.log(error.message);        
      }
    }

    getProducts()

    searchInput.addEventListener('keyup', (e)=> {
      const key = new RegExp(searchInput.value, "i");

      let filteredProducts = products.filter(prod => prod.title.match(key))

      display(filteredProducts)
    })

    let deleteProduct = async(id) => {
      let confirmDel = confirm("Deleted data cannot be recovered!")
      if(confirmDel) {
        try {
          let res = await fetch(`/product/${id}`, {method: 'DELETE', headers: {'Content-Type': 'application/json' // 'Content-Type': 'application/x-www-form-urlencoded',
          }} )
    
          let json = await res.json()    
          getProducts()
        } catch (error) {
          console.log(error.message);        
        }
      }
    }

    let aksiyaProduct = async(id, status) => {
      let data = {status: status}
      try {
        let res = await fetch(`/product/promation/${id}`, {method: 'PUT', body: JSON.stringify(data), headers: {'Content-Type': 'application/json' // 'Content-Type': 'application/x-www-form-urlencoded',
        }} )
  
        let json = await res.json() 
        getProducts()
      } catch (error) {
        console.log(error.message);        
      }
    }

    let publishedProduct = async(id, status) => {
      let data = {status: status}
      try {
        let res = await fetch(`/product/pubished/${id}`, {method: 'PUT', body: JSON.stringify(data), headers: {'Content-Type': 'application/json' // 'Content-Type': 'application/x-www-form-urlencoded',
        }} )
  
        let json = await res.json()  
        getProducts()
      } catch (error) {
        console.log(error.message);        
      }
    }

  </script>
</body>
</html>