body {
  padding-top: 50px;
  height: 100vh;
}

.login-form {
  max-width: 400px;
  margin: 0 auto;
  background-color: hsla(0, 43%, 93%, 0.514);
  padding: 30px;
}

.message-server {
  text-align: center;
  height: 18px;
  line-height: 18px;
}

.sidebar {
  border-right: 2px solid red;
}

.title-comp {
  white-space: nowrap;
}

.nav-item {
  border-bottom: 1px solid #e6dede;
  width: 100%;
  text-align: left;
}

.active-item {
  border-bottom: 1px solid #f14f4f;
  background-color: #f5e6e6;
}

.exchange-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 550px;
  padding-bottom: 20px;
}
.exchange-box iframe {
  position: absolute;
  top: -360px;
  z-index: -2;
}